
header{
    font-family: fuenteLogin5;
    color: #ffffff;
    font-weight: 200;
}

.menu{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #FE8592;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 2px 2px 8px 2px #e7e7e7;
}
body{
    margin: 0;
}
.opciones {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

.opciones-derecha {
    display: flex;
    margin-left: auto; 
    align-items: center;
}

.categorias, .multimedia, .amigos, .perfil, .iniciarsesion {
    margin-left: 10px;
    margin-right: 10px;
}

.categorias, .multimedia {
    height: 40px;
    width: 120px;
    display: flex;            
    justify-content: center;    
    align-items: center;       
    text-align: center;        
    color: #ffffff;
    transition: transform 0.3s ease;
    transform: scale(1);
    
}

.categorias:hover, .amigos:hover, .perfil:hover, .multimedia:hover, .iniciarsesion:hover, .nuevopost:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}


.amigos, .perfil {
    height: 40px;
    width: 100px;
    display: flex;            
    justify-content: center;    
    align-items: center;       
    text-align: center;        
    border-radius: 50px;
    color: #ffffff;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.iniciarsesion{
    height: 25px;
    width: 25px;
    display: flex;            
    justify-content: center;    
    align-items: center;       
    text-align: center;   
    border-radius: 50px;
    color: #ffffff;
    transition: transform 0.3s ease;
    transform: scale(1);
    margin-right: 80px;
    
}

.bandeja {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 536px;
    width: 100%;
    flex-direction: row;

}

.upperright{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.postrecientes{
    height: auto;
    width: 300px;
    flex-wrap: nowrap;
    display: flex;
}

.vermaspost{
    flex-wrap: nowrap;
    height: auto;
    width: 200px;
    display: flex;    
    transition: transform 0.3s ease;
    transform: scale(1);
    color: black;
}
.vermaspost:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.nuevopost{
    display: flex;
    background-color: #FEB5B5;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    transform: scale(1);
    box-shadow: 0px 0px 8px 1px #e7e7e7;
}

.buscador {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 90%;       
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 30px;
}

.bandejaderecha {
    display: flex;
    background-color: #ffffff;
    width: 75%;
    height: 900px;
    flex-direction: row;
    margin: 1%;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px #e7e7e7;
}

.bandejaizquierda {
    display: flex;
    flex-direction: column; 
    background-color: #ffffff;
    width: 23%;
    height: 94%;
    margin: 1%;
    border: 1px solid #d1d1d1;
    margin-left: 0%;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px #e7e7e7;
}




@font-face{
    font-family: fuenteLogin5;
    src: url(fuentes/Momcake-Bold.otf);
}
@font-face{
    font-family: fuenteLogin2;
    src: url(fuentes/Momcake-Thin.otf);
}
@font-face{
    font-family: fuenteLogin1;
    src: url(fuentes/DarlingGirlDemoRegular.ttf);
}
@font-face{
    font-family: fuenteLogin4;
    src: url(fuentes/PlusJakartaSans-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family: fuenteLogin5;
    src: url(fuentes/PlusJakartaSans-VariableFont_wght.ttf);

}

.tabladerecha {
    display: flex;            
    flex-direction: column;   
    height: 100%;             
    width: 100%;             
}

.post {
    height: auto;
    width: auto;
    flex: 1;                  
    margin-left: 20px;
    margin-right: 20px;     
    font-family: fuenteLogin5;
}
h4{
    width: 200px;
    height: auto;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    height: auto; 
    border-collapse: collapse;
}

table, th, td {
    border: none; 
}

.username {
    display: flex;
    width: 200px;
    margin-left: -10px;
    height: 30px;
    border-radius: 40px;
    align-items: center; 
    padding: 0 10px; 
    color: #FF5178;
    text-decoration: underline;
    justify-content: left;
}

.posteo {
    display: flex;
    flex-direction: column; 
    height: auto;
    width: 100%;           
    background-color: #FEEBDA;
    border-radius: 20px;
    padding: 10px; 
    margin-top: 10px;
    box-shadow: 0px 0px 8px 1px #e7e7e7;
}

.titulo {
    font-family: fuenteLogin4;
    font-size: larger; 
    margin-bottom: 5px;
    font-weight: 400;
}

.contenido {
    font-size: medium; 
    line-height: 1.5;
}

.categoria_post{
    margin-left: 60px;
}
.upperpost{
    display: flex;
    width: 400px;
    height: 30px;
    align-items: center; 
}
body::-webkit-scrollbar{
    
    background-color: #FEEBDA;
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #FEB5B5;
}

.bienvenida{
    display: flex;
    height: 80px;
    width: 220px;
    color: #FF5178;
    
}

li{
    display: flex;
    font-family: fuenteLogin4;
    list-style: none;
    margin-top: 1.5%;
}

ul{
    margin-top: -1px;
    display: flex;
    flex-direction:column ;
}

.temas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;          
    width: 100%;
    margin-top: 10%; 
    font-family:fuenteLogin5;      
}